<div class="smt-roll auto-success">
  <h3>{{name}}</h3>
  <div class="roll-outcome success">{{localize "SMT.Roll.AutoSuccess"}}</div>
  {{#if effectDescription}}
    <div class="roll-effect">{{effectDescription}}</div>
  {{/if}}
</div>
